body {
    background-color: bisque; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-family: Arial, sans-serif; /* Change the font family to Arial, and if Arial is not available, use a sans-serif font */
}

img {
    width: 400px; /* Set the width of the image */
    height: auto; /* Maintain aspect ratio */
    position: absolute; /* Position the image absolutely */
    top: 70px; /* Distance from the top of the page */
    left: 30px; /* Distance from the left of the page */
   
}

h1 {
    color: rgb(37, 77, 56); /* Change the color of the h1 element */
}

ol li {
    font-weight: normal; /* Reset font weight for all list items */
}

ol li:nth-of-type(1) {
    font-weight: bold; /* Apply bold font weight to the first list item */
}

/* CSS styles for the divs */
.section {
    margin: 20px 0; /* Add margin for spacing */
    padding: 20px; /* Add padding for content */
    background-color: rgb(37, 77, 56); /* Set background color */
    border: 2px solid #ccc; /* Add border */
    border-radius: 8px; /* Add border radius for rounded corners */
    width: 50%; /* Set width of the div */
    color: white; /* Set text color */
    text-align: center;
}

.video-container {
    position: absolute;
    top: 80px; /* Adjust the distance from the top of the page */
    right: 20px;
    border: 2px solid black; /* Add border around the video container */
}

.video-container iframe {
    width: 400px;
    height: 300px;
   
}

/* mystyles.css */
.tableauViz {
    width: 600px; /* Adjust the width as needed */
    height: 400px; /* Adjust the height as needed */
}

footer {
    background-color: rgb(37, 77, 56); /* Set background color */
    color: white; /* Set text color */
    text-align: center; /* Center-align text */
    padding: 10px; /* Add padding */
    width: 100%; /* Set width to 100% */
    position: fixed; /* Fix the footer to the bottom */
    bottom: 0; /* Align to the bottom of the page */
}
